<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">
    </a>
  </nav>
  
  <!-- Sidebar navigation -->
  <div class="container-fluid" style = "margin-left: 15vh;">
    <div class="row">
  
      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard">
                <i class="fas fa-user"></i>User Profile
              </a>
            </li>
            <!-- Calling SignOut() Api from AuthService -->
            <li class="nav-item">
              <a class="nav-link" (click)="authService.SignOut()">
                <i class="fas fa-sign-out-alt"></i>Log out
              </a>
            </li>
             <!-- Go to market -->
            <li class="nav-item">
              <a class="nav-link active" routerLink="/market">
                <i class="fas fa-sign-out-alt"></i>Market  
              </a>
            </li>
  
             <!-- Go to Order -->
             <li class="nav-item">
              <a class="nav-link" routerLink="/orders">
                <i class="fas fa-sign-out-alt"></i>Transaction Orders  
              </a>
            </li>

            <!-- Go to bill -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/bill">
                <i class="fas fa-sign-out-alt"></i>Billing 
              </a>
            </li>
  
          </ul>
        </div>
      </nav>
  
      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
  
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Market</h1>
          </div>
          <!-- Show user data when logged in -->
          <div class="row" >
            <div class="col-md-12">
              <div class="media">
                <div class="media-body">
                  <!-- <p>Orders: id {{o?.id}} seller {{o?.seller}} buyer {{o?.buyer}} bitcoinAmount {{o?.bitcoinAmount}}
                      bitcoinPrice {{o?.bitcoinPrice}} currency {{o?.currency}} startTime {{o?.startDateTime}} endTime {{o?.endDateTime}}
                      status {{o?.status}} type {{o?.type}}
                  </p> -->
                
                    <!-- <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"> -->
                <div class="container bootstrap snippets bootdey">
                    <div class="col-md-9 col-sm-8 content" style ="width: 100%;">
                     
                        
                            <div class="col-md-12">
                                <div class="panel panel-info panel-shadow">
                                    <div class="panel-heading">
                                        <h3>
                                            Market Price: $100
                                        </h3>
                                    </div>
                                    
                                    
                                    <div class="panel-body"> 
                                        <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Qty</th>
                                                <th>Price</th>
                                                <th>Service fee</th>
                                                <th>Total</th>
                                                
                                            </tr>
                                            </thead>

                                           

                                            <tbody *ngFor = "let order of openOrders">
                                                <tr>
                                                    <!-- <td><img src="https://via.placeholder.com/400x200/FFB6C1/000000" class="img-cart"></td> -->
                                                    <td><strong>Bitcoin </strong><p *ngIf = "order.seller">Selling member: {{order?.seller}} </p> 
                                                      <p *ngIf = "order.buyer">Buying member: {{order?.buyer}} </p></td>
                            
                                                    <td>{{order.bitcoinAmount}}</td>
                                                    <td>${{order.bitcoinPrice}}</td>
                                                    <td>$2.00</td>
                                                    <td>${{order.bitcoinAmount * order.bitcoinPrice + 2}}</td>
                                                    
                                                </tr>
                                                <!-- <tr>
                                                    <td><strong>Bitcoin</strong><p>Selling member : bob</p></td>
                                                   
                                                    <td>1</td>
                                                    <td>$32.00</td>
                                             
                                                    <td>$34.00</td>
                                                    <td>$2.00</td>

                                                </tr> -->
                                                <tr>
                                                    <td colspan="6">&nbsp;</td>
                                                </tr>

                                            
                                            </tbody>
                                        </table>
<!-- 

                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Selling Type</th>
                                                <th>Selling Qty</th>
                                                <th>Currency Type</th>
                                                <th>Selling Price</th>
                                               
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>                            
                                                    <td>
                                                        <form class="form-inline"  #addOrderForm = "ngForm" (ngSubmit) = "sellOrder(addOrderForm)">
                                                            <select class="form-control"  ngModel name= "type" id = "type">
                                                              <option selected="selected" value="limitOrder">Limit Order</option>
                                                              <option value="marketOrder">Market Order</option> 
                                                            </select>
                                                        </form>
                                                    </td>

                                                    <td>
                                                        <form class="form-inline" #addOrderForm = "ngForm" (ngSubmit) = "sellOrder(addOrderForm)">
                                                            <input class="form-control" type="text" ngModel name= "bitcoinAmount" id = "bitcoinAmount">
                                                        </form>
                                                    </td>

                                                    <td>
                                                      <form class="form-inline" #addOrderForm = "ngForm" (ngSubmit) = "sellOrder(addOrderForm)">
                                                        <select class="form-control" ngModel name= "currency" id = "currency">
                                                          <option selected="selected" value="USD">USD</option>
                                                          <option value="EUR">EUR</option> 
                                                          <option value="GBP">GBP</option> 
                                                          <option value="INR">INR</option> 
                                                          <option value="RMB">RMB</option> 
                                                        </select>
                                                      </form>
                                                    </td>

                                          
                                                    <td>
                                                        <form class="form-inline"  #addOrderForm = "ngForm" (ngSubmit) = "sellOrder(addOrderForm)">
                                                            <input class="form-control" type="text" value="$64.00"  ngModel name= "bitcoinPrice" id = "bitcoinPrice">
                                                            <button class="btn btn-default" id="sellOrder-form" ><i class="fa fa-plus"></i></button>
                                                        </form>
                                                    </td>
                                                   
                                                </tr>
                                               
                                            </tbody>
                                         </table> -->

                                       

                                     </div> 

                                       <!-- <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Buying Type</th>
                                                <th>Buying Qty</th>
                                                <th>Currency Type</th>
                                                <th>Buying Price</th>
                                               
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>                            
                                                    <td>
                                                      <form class="form-inline" #addOrderForm = "ngForm" (ngSubmit) = "buyOrder(addOrderForm)">
                                                        <select class="form-control"  name= "type" id = "type">
                                                          <option selected="selected" value="limitOrder">Limit Order</option>
                                                          <option value="marketOrder">Market Order</option> 
                                                        </select>
                                                    </form>
                                                    </td>

                                                    <td>
                                                        <form class="form-inline" #addOrderForm = "ngForm" (ngSubmit) = "buyOrder(addOrderForm)">
                                                            <input class="form-control" type="text" name= "bitcoinAmount" id = "bitcoinAmount">
                                                        </form>
                                                    </td>

                                                    <td>
                                                      <form class="form-inline" #addOrderForm = "ngForm" (ngSubmit) = "buyOrder(addOrderForm)">
                                                        <select class="form-control"  name= "currency" id = "currency">
                                                          <option selected="selected" value="USD">USD</option>
                                                          <option value="EUR">EUR</option> 
                                                          <option value="GBP">GBP</option> 
                                                          <option value="INR">INR</option> 
                                                          <option value="RMB">RMB</option> 
                                                        </select>
                                                      </form>
                                                    </td>

                                          
                                                    <td>
                                                        <form class="form-inline" #addOrderForm = "ngForm" (ngSubmit) = "buyOrder(addOrderForm)">
                                                            <input class="form-control" type="text" name= "bitcoinPrice" id = "bitcoinPrice">
                                                            <button class="btn btn-default" id="buyOrder-form" ><i class="fa fa-plus"></i></button>
                                                        </form>
                                                    </td>
                                                   
                                                </tr>
                                               
                                            </tbody>
                                        </table>
                                
 -->
                                </div>
                               
                                </div>

                                  <!-- id: Int32Array;
                                            seller: Int32Array;
                                            buyer: Int32Array;
                                            bitcoinAmount: Float32Array;
                                            bitcoinPrice: Float32Array;
                                            currency:String;
                                            startDateTime: String;
                                            endDateTime: String;
                                            status: String; open fullfiled cancel
                                            type: String; -->




                                <table class="table">
                                  <thead>
                                  <tr>
                                      <th>Selling </th>
                                      <th>Buying </th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                      <tr>                            
                                          <td>
                                              <form class="form-group" #sellOrderForm ="ngForm" (ngSubmit) = "sellOrder(sellOrderForm)">
                                                
                                                <p>order type</p>
                                                <select class="form-group" ngModel name= "type" id = "type">
                                                    <option selected="selected" value="limitOrder">Limit Order</option>
                                                    <option value="marketOrder">Market Order</option> 
                                                </select>

                                                <p>Selling Qty</p>
                                                <input class="form-control" type="number" step = "any" ngModel name= "bitcoinAmount" id = "bitcoinAmount">

                                                <p>Currency Type	</p>
                                                <select class="form-group" ngModel name= "currency" id = "currency">
                                                  <option selected="selected" value="USD">USD</option>
                                                  <option value="EUR">EUR</option> 
                                                  <option value="GBP">GBP</option> 
                                                  <option value="INR">INR</option> 
                                                  <option value="RMB">RMB</option> 
                                                </select>


                                                <p>Selling Price</p>
                                                <input class="form-control" type="number" step = "any" min="0" ngModel name= "bitcoinPrice" id = "bitcoinPrice">
                                                <button class="btn btn-default" id="sellOrder-form" type= "submit"><i class="fa fa-plus"></i>SELL</button>


                                              </form>
                                          </td>

                                         

                                
                                          <td>
                                            <form class="form-group"  #buyOrderForm="ngForm" (ngSubmit)= "buyOrder(buyOrderForm)">
                                                  
                                              <p>order type</p>
                                              <select class="form-group" ngModel name= "type" id = "type">
                                                  <option selected="selected" value="limitOrder">Limit Order</option>
                                                  <option value="marketOrder">Market Order</option> 
                                                </select>

                                              <p>Buying Qty</p>
                                              <input class="form-control" type="number" ngModel name= "bitcoinAmount" id = "bitcoinAmount">


                                              <p>Currency Type	</p>
                                              <select class="form-group"  ngModel name= "currency" id = "currency">
                                                <option selected="selected" value="USD">USD</option>
                                                <option value="EUR">EUR</option> 
                                                <option value="GBP">GBP</option> 
                                                <option value="INR">INR</option> 
                                                <option value="RMB">RMB</option> 
                                              </select>

                                              <p>Buying Price</p>
                                              <input class="form-control" type="number" step = "any" min="0" ngModel  name= "bitcoinPrice" id = "bitcoinPrice">
                                              <button class="btn btn-default" id="buyOrder-form" ><i class="fa fa-plus"></i>BUY</button>


                                            </form>
                                             
                                          </td>
                                         
                                      </tr>
                                     
                                  </tbody>
                              </table>

                                
                                <!-- <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Continue Shopping</a>
                                <a href="#" class="btn btn-primary pull-right">Next<span class="glyphicon glyphicon-chevron-right"></span></a> -->
                            </div>
                       
                    </div>
                </div>



                </div> <!--<div class="media-body"> end-->
              </div>
            </div>
          </div>
  
  
        </div>
      </main>
  
    </div>
  </div>
  

  
