<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">
  </a>
</nav>

<!-- Sidebar navigation -->
<div class="container-fluid" style = "margin-left: 15vh">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/dashboard">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
           <!-- Go to market -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/market" >
              <i class="fas fa-sign-out-alt"></i>Market  
            </a>
          </li>

           <!-- Go to Order -->
           <li class="nav-item">
            <a class="nav-link" (click)="authService.OderPage()">
              <i class="fas fa-sign-out-alt"></i>Transaction Orders
            </a>
          </li>

            <!-- Go to bill -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/bill">
                <i class="fas fa-sign-out-alt"></i>Billing 
              </a>
            </li>

        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
         
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
             
              
              <div class="media-body">
                
                <div class="container " > 
                

                      <div class="col-md-8"> 
                        <div class="portlet light bordered">
                            <div class="portlet-title tabbable-line">
                                <div class="caption caption-md">
                                    <i class="icon-globe theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase">
                                      <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                alt="{{user.displayName}}">
                                    <div class = "users">
                                      <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                                      <p>Email: <strong>{{user.email}}</strong></p>
                                      <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                                    </div>
                                    
                                    
                                      <div class = "banks" *ngIf="bankAccount as bankAccount; else elseBlock">

                                        <p>Primary Currency: {{bankAccount?.primaryCurrency}} </p>
                                        <p>Balance of the primary currency: {{bankAccount?.balanceOfUSD}} {{bankAccount?.primaryCurrency}}</p>
                                        <p>Balance of EUR: {{bankAccount?.balanceOfEUR}} </p>
                                        <p>Balance of GBP: {{bankAccount?.balanceOfGBP}} </p>
                                        <p>Balance of INR: {{bankAccount?.balanceOfINR}} </p>
                                        <p>Balance of RMB: {{bankAccount?.balanceOfRMB}} </p>
                                        <p>Balance of Bitcoin: {{bankAccount?.balanceOfBitcoin}} </p>
                                        <p>Country: {{bankAccount?.country}}</p>
                                        <p>Bank name: {{bankAccount?.bankName}}</p>
                                        <p>Account number: {{bankAccount?.accountNumber}}</p>
                                        <p>Owner’s natural name: {{bankAccount?.ownerNaturalName}}</p>
                                        <p>Owner’s address: {{bankAccount?.address}}</p>

                                        <form #balanceForm = "ngForm" >

                                            <div class="form-group">
                                              <label for="inputName">Balance Of Bitcoin</label>
                                              <input type="number" step = "0.01" min="0" ngModel name ="balanceOfBitcoin" class="form-control" id="balanceOfBitcoin" placeholder="00.00">
                                            </div>
                                            <div class="form-group">
                                              <label for="inputName">Balance Of USD</label>
                                              <input type="number" step = "0.01" min="0" ngModel name ="balanceOfUSD" class="form-control" id="balanceOfUSD" placeholder="00.00">
                                            </div>
                                            <div class="form-group">
                                              <label for="inputName">Balance Of EUR</label>
                                              <input type="number" step = "0.01" min="0" ngModel name ="balanceOfEUR" class="form-control" id="balanceOfEUR" placeholder="00.00">
                                            </div>
                                            <div class="form-group">
                                              <label for="inputName">Balance Of GBP</label>
                                              <input type="number" step = "0.01" min="0" ngModel name ="balanceOfGBP" class="form-control" id="balanceOfGBP" placeholder="00.00">
                                            </div>
                                            <div class="form-group">
                                              <label for="inputName">Balance Of INR</label>
                                              <input type="number" step = "0.01" min="0" ngModel name ="balanceOfINR" class="form-control" id="balanceOfINR" placeholder="00.00">
                                            </div>
                                            <div class="form-group">
                                              <label for="inputName">Balance Of RMB</label>
                                              <input type="number" step = "0.01" min="0" ngModel name ="balanceOfRMB" class="form-control" id="balanceOfRMB" placeholder="00.00">
                                            </div>
                                            <button (click) = "updateBankbalance(balanceForm.value,'deposit')" id="deposit-form" type="submit" class="btn btn-default">Deposit</button>
                                            <button (click) = "updateBankbalance(balanceForm.value, 'withdraw')" id="withdraw-form" type="submit" class="btn btn-default">Withdraw</button>

                                        </form>
                                        
                                      </div>

                                      <ng-template #elseBlock>

                                        <p> Please setup your bankAccount Info to use this application </p>

                                        <div class="portlet-body">
                                          <div>
                                          
                                              <!-- Nav tabs -->
                                              <ul class="nav nav-tabs" role="tablist">
                                                  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Create bank</a></li>
                                                
                                              </ul>
                                          
                                              <!-- Tab panes -->
                                              <div class="tab-content">
                                                  <div role="tabpanel" class="tab-pane active" id="home">
                                                      <form #addBankForm = "ngForm" (ngSubmit) = "createUser(addBankForm)">
                                                        <div class="form-group">
                                                          <label for="inputName">Bank name</label>
                                                          <input type="text" ngModel name ="bankName" class="form-control" id="bankName" placeholder="Bank name">
                                                        </div>
                                                          <div class="form-group">
                                                          <label for="inputLastName">Country</label>
                                                          <input type="text" ngModel name ="country" class="form-control" id="country" placeholder="Country">
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="exampleInputEmail1">Account number</label>
                                                          <input type="email" ngModel name ="accountNumber" class="form-control" id="accountNumber" placeholder="Account number">
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="exampleInputEmail1">Address</label>
                                                          <input type="email" ngModel name ="address" class="form-control" id="address" placeholder="Address">
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="exampleInputEmail1">Primary Currency</label>
                                                          <select class="form-group" ngModel name= "primaryCurrency" id = "primaryCurrency">
                                                            <option selected="selected" value="USD">USD</option>
                                                            <option value="EUR">EUR</option> 
                                                            <option value="GBP">GBP</option> 
                                                            <option value="INR">INR</option> 
                                                            <option value="RMB">RMB</option> 
                                                          </select>
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="inputLastName">Owner’s natural name</label>
                                                          <input type="text" ngModel name ="ownerNaturalName" class="form-control" id="ownerNaturalName" placeholder="Owner’s natural name">
                                                        </div>
          
          
                                                    
                                                        <button id="add-bank-form" addtype="submit" class="btn btn-default">Submit</button>
                                                      </form>
          
                                                  </div>
                                                 <div role="tabpanel" class="tab-pane" id="profile">
                                                    <form>
                                                      <div class="form-group">
                                                        <label for="inputName">Name</label>
                                                        <input type="text" class="form-control" id="inputName" placeholder="Nick Name">
                                                      </div>
                                                    </form>
                                                 </div>
                                                   <!-- <div role="tabpanel" class="tab-pane" id="messages">Messages</div>
                                                  <div role="tabpanel" class="tab-pane" id="settings">Settings</div> -->
                                              </div>
                                          
                                          </div>
                                      </div>


















                                      </ng-template>
                                      
                                     
                                          
                                    
                                    
                                    </span>
                                </div>
                            </div>


                            
                        </div>
                    </div>
                </div>






              </div>
            </div>
          </div>
        </div>


        <!-- <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Bank Info</h1>
        </div> -->

        <!-- <div class="row" > -->
       


      </div>
    </main>

  </div>
</div>
